.footercolor{
    background-color:#e4e4e4 ;
}
.bodycolor{
    background-color: #faf9f7;
}

.btn{
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
