<% layout('boilerplate') -%>
<body>
    <h1>Category Page</h1>
    <p><%=categoryData%></p>
    <% for(let data of categoryData){ %>
        <div>
            <p><%=data%></p>
        </div>
    <% } %>
</body>