<% layout('boilerplate') -%>
<body>
    <div class="bodycolor">
        <h1>Home Page</h1>
        <% for(let data of allData){ %>  
        <div>
            <p><%=data.name%></p>
        </div>
        <% } %>
    </div>
</body>