
<div class="footercolor h-100 ">
    <div class="flex justify-evenly">
        <div class="mt-4">
            <h2 class="font-bold">Shop</h2>
            <ul class="mt-2">
                <li class="font-light hover:underline">Ladies</li>
                <li class="font-light hover:underline">Men</li>
                <li class="font-light hover:underline">Baby</li>
                <li class="font-light hover:underline">Kids</li>
                <li class="font-light hover:underline">Home</li>
                <li class="font-light hover:underline">Magazine</li>
            </ul>
        </div>
        <div class="mt-4">
            <h2 class="font-bold">Shop</h2>
            <ul class="mt-2">
                <li class="font-light hover:underline">Career at H&M</li>
                <li class="font-light hover:underline">About H&M group</li>
                <li class="font-light hover:underline">Sustainability H&M Group</li>
            </ul>
        </div>
        <div class="mt-4">
            <h2 class="font-bold">Shop</h2>
            <ul class="mt-2">
                <li class="font-light hover:underline">Career at H&M</li>
                <li class="font-light hover:underline">About H&M group</li>
                <li class="font-light hover:underline">Sustainability H&M Group</li>
            </ul>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <i class="fa-brands fa-square-instagram text-xl font-light mr-4 hover:text-2xl"></i>
        <i class="fa-brands fa-facebook text-xl mr-4 hover:text-2xl"></i>
        <i class="fa-brands fa-square-x-twitter text-xl mr-4 hover:text-2xl"></i>
    </div>
    <div class="flex justify-center mt-10">
        @Made By Himansu
    </div>
<div>