<div class="h-20 bodycolor flex justify-between text-center items-center">
   <div> <h2 class="text-lg ml-4 ">LOGO</h2></div>
   <div> <a href="" class="m-4 ">Sign In</a>
    <a href=""class="m-4 ">Log In</a>
    <a href=""class="m-4 ">Log Out</a>
    <i class="fa-regular fa-circle-user"></i>
</div>
</div>
