<% layout('boilerplate') -%>
<body class="bodycolor">
    <div class="flex flex-col items-center justify-center text-center">
        <div class="size-96 bg-red-200 flex-col flex justify-center text-center">
            <i class="fa-solid fa-user"></i>
            <ul>
                <li>name</li>
                <li>email</li>
            </ul>
        </div>
        <div class="size-96 bg-blue-200 ">
            <ul>
                <li>Cart</li>
                <hr>
                <li>Orders</li>
                <hr>
            </ul>
        </div>
    </div>
</body>