<% layout('boilerplate') -%>
<body class="bodycolor">
    <div class="flex justify-center ">
   <div class="h-120 w-120 my-20 flex flex-col  justify-center items-center border-solid border-2">
        <h1 class="text-4xl font-semibold">Sign in</h1>
        <form action="" class="mt-10">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Username
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="username">
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="password">
              </div>
            <a href="/api/user/login" class=" hover:underline" >already have an account Log in</a>
            <br>
            <button class="mt-10 btn h-13 w-90">Sign In</button>
        </form>
   </div>
</div>
</body>